.workCartes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 65rem;
    margin: 0 auto;
    /* Dark background color */
}

#workCarte {
    flex: 0 0 calc(50% - 20px);
    /* Adjust width for two cards per row */
    margin-right: 20px;
    /* Add margin to create spacing between cards horizontally */
    margin-bottom: 20px;
    background-color: #444;
    /* Dark card background color */
    color: #fff;
    /* Text color in dark mode */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    /* Dark shadow */
    text-align: center;

    /* Set a fixed height for each card */
    height: 300px;
    /* You can adjust the height as needed */
}

.workTitle {
    margin: 1rem 0;
    font-size: 2rem;
    align-self: stretch;
    /* Ensure title stretches to the same height as the card */
}

.workDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
    align-self: stretch;
    /* Ensure description stretches to the same height as the card */
}

.buttonContents a {
    color: black;
}

.worksImg {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 1rem;
    /* Set max-width to 100% to make the image fit the workCarte */
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.desktopMenuButton:hover {
    background-color: #0056b3;
}

.deskopMenuButtonImage {
    max-width: 24px;
    margin-right: 8px;
}

.contactMe {
    font-weight: bold;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 480px) {
    .workCartes {
        width: 100%;
        /* Full width for smaller screens */
    }

    .workCarte {
        flex: 0 0 calc(100% - 20px);
        /* Full width for one card per row on smaller screens */
        margin-right: 0;
        width: 100%;

        /* No margin for spacing on smaller screens */
    }
}