#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: 0rem;
    right: 100px;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 200vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introParagraph {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.buttonWorkCarte:hover {
    background-color: #0056b3;
}

.buttonContents a {
    color: black;
    text-decoration: none;

}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.LinkedIn {
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
}

.buttonWorkCarte {
    color: black;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;

    object-fit: cover;
    height: 1.5rem;
    /* Adjust the size of the icon as needed */
    width: 1.5rem;
    /* Adjust the size of the icon as needed */
    margin-right: 0.5rem;
    /* Add some spacing between the icon and text */
}

.btnImage {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width:840px) {
    .bg {
        right: -10vw;
    }

    .introContent {
        font-size: 10vw;
    }

    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width:480px) {
    .bg {
        right: -20vw;
    }

}