#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.workTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.workDesc {
    font-weight: 300;
    font-size: 1rem;
}

.workCarteContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* Allow components to wrap to the next row */
    max-width: 900px;
    /* Adjust this value to your preferred maximum width */
    margin: 0 auto;
    /* Center the container horizontally */
    margin-top: 20px;
    /* Add some margin between the container and the title/description */
}